@using Model.Entities
<h3>MovieSingleComponent</h3>

<div>
    <p>@Movie.Title</p>
    <p>@Movie.ReleaseDate.ToShortDateString()</p>
    @if (ShowButton)
    {
        <div>
            <button @onclick="() => DeleteMovie.InvokeAsync(Movie)" >Delete</button>
        </div>
    }
</div>

@code {
    [Parameter]
    public Movie Movie { get; set; }


    [Parameter]
    public bool ShowButton { get; set;}
    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; } //pasar un param a el padre (MovieList)
}
