<p>Nothing</p>
@using Model.Entities

<h3>MovieListComponent</h3>

<div>
    @if(Movies == null)
    {
        
        @NullList
    }
    else if (!Movies.Any())
    {
        @EmptyList
    }
    else
    {
        <input type="checkbox" @bind="_show" />
        @foreach(var movie in Movies)
        {
            <MovieSingleComponent Movie="movie" ShowButton="_show" DeleteMovie="DeleteMovie" />
        }
    }
</div>

@code{
    [Parameter]
    public List<Movie> Movies { get; set; }
    [Parameter]
    public RenderFragment EmptyList { get; set; }
    [Parameter]
    public RenderFragment NullList { get; set; } //obligatorio que el nombre sea childcontent al usar renderfragment

    private bool _show = false;

    private void DeleteMovie(Movie movie)
    {
        Console.WriteLine($"Deleting Movie... {movie.Title}");
    }
}
