@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RegisterRequest
<div class = "card card-body">
    <h5>Register</h5>
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Role"></label>
            <select asp-for="Role" class="form-control">
                @foreach(var role in Enum.GetNames(typeof(Role)))
                {
                    <option>@role</option>
                }
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>

@section Scripts{
    @await  Html.PartialAsync("_ValidationScriptsPartial")
}