@page "/Actor/Edit/{id:int}"
@using Model.Entities
<h3>Edit Actor</h3>

<ActorAddEditForm Actor="Actor" OnValidSubmit="Edit"></ActorAddEditForm>


@code {
    public int Id { get; set; }
    private ActorDTO Actor { get; set; } = new ActorDTO();

    private void Edit()
    {
        Console.WriteLine($"Actor params edited");
    }
}
