@page "/Genre/Edit/{id:int}"
@inject IGenreAPI genreAPI
@inject NavigationManager navigationManager
@using Model.Entities
<h3>Edit Gender</h3>

<GenreAddEditForm OnValidSubmit="Edit" Genre="model" Loading="_loading"></GenreAddEditForm>
@if (_showError)
{
    <p style="color: red;">The request could not be processed</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private GenreDTO model = new GenreDTO();
    private bool _loading = false;
    private bool _showError = false;

    protected override async Task OnInitializedAsync()
    {
        model = await genreAPI.GetById(Id);
    }

    private async Task Edit()
    {
        _loading = true;
        var result = await genreAPI.Update(model);

        if (result is null)
        {
            navigationManager.NavigateTo("genres");
        }
        else
        {
            _showError = true;
            Console.WriteLine(result);
        }
        _loading = false;
    }
}
