@page "/Genres"
@inject IGenreAPI genreAPI
<h3>Genres</h3>

<div class="form-group mb-4">
    <a href="Genre/Add" class="btn btn-info" >Add Genre</a>
</div>

@if (_loading)
{
    <img src="https://www.mansarovar.com.co/app/PQRS/LibraryCSS/giphy.gif" style="width: 20px; height: 20px;" />
    <span>Loading...</span>
}
else
{
    <div>
        @if (model.Any())
        {
         <div>
            @foreach(var item in model)
            {
                    <div class="flex flex-row">
                        <div class="d-flex align-items-center">@item.Name</div>

                        <div class="pl-2">
                            <a href="@($"Genre/Edit/{item.Id}")" type="button" class="btn btn-secondary" style="width:55px; height:35px;">Edit</a>
                        </div>
                    </div>
            }
         </div>
        }
        else
        {
            <p>There are no elements to show.</p>
        }
    </div>
}


@code {
    private List<GenreDTO> model = new List<GenreDTO>();
    private bool _loading = false;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        model = await genreAPI.GetAll();
        
        _loading = false;
    } 
}
