@page "/Genres"
<h3>Genres</h3>

<div class="form-group">
    <a href="Genre/Add" class="btn btn-info" >Add Genre</a>
    
</div>
<div class="form-group">
    <a href="Genre/Edit" class="btn btn-info" >Edit Genre</a>
</div>

@code {

}
